.history-container {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}

.history-content {
  max-width: 1200px;
  width: 70%;

  display: flex;
  gap: 60px;
}

.history-left {
  flex: 1;
}

.history-right {
  flex: 2;

}

.history-title {
  font-size: 64px;
  line-height: 1;
  font-weight: normal;
  margin: 0;
}

.history-title .firm {
  font-weight: bold;
  font-size: 72px;
}

.history-main-text {
  font-size: 28px;
  line-height: 1.3;
  margin-bottom: 20px;
  font-weight: 300;
  color: #000000;
}

.history-secondary-text {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.jump-to {
  font-size: 16px;
  color: #666;
}


.history-title {
  font-family: serif;
  text-align: left;
  max-width: 300px;
  /* Adjust as needed */
}

.history-title h1 {
  margin: 0;
  line-height: 0.9;
}

.large {
  font-size: 92px;
  /* Adjust size as needed */
  font-weight: bold;
}

.small {
  font-size: 36px;
  /* Adjust size as needed */
  font-weight: normal;
}

.firm {
  display: inline-block;
  margin-top: 10px;
  /* Adjust to create space above "firm" */
}

.history-right_wrapper {
  width: 90%
}

@media (max-width: 768px) {
  .history-content {
    flex-direction: column;
  }

  .history-title {
    font-size: 48px;
  }

  .history-title .firm {
    font-size: 56px;
  }

  .history-main-text {
    font-size: 20px;
  }
}




.vertical-timeline-element--work.left .vertical-timeline-element-content {
  margin-right: 0;
}

.vertical-timeline-element--work.right .vertical-timeline-element-content {
  margin-left: 0;
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-content {
    width: 100%;
  }

  .vertical-timeline-element--work.left .vertical-timeline-element-content {
    float: left;
  }

  .vertical-timeline-element--work.right .vertical-timeline-element-content {
    float: right;
  }
}

@media only screen and (max-width: 1169px) {
  .vertical-timeline-element-content {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .vertical-timeline-element--work .vertical-timeline-element-content>div {
    flex-direction: column !important;
  }
}